.NavWraper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  margin: 0 auto;
  max-width: 1300px;
  .logoSvg {
    width: 40px;
    height: 58px;
  }
  .navTitles {
    width: 350px;
    display: flex;
    justify-content: space-around;
    .titleNav {
      color: white;
      cursor: pointer;
      text-decoration: none;
    }
    .active {
      color: #ffc700;
    }
  }
}
// .stickyNav{
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 40px 160px;
//   max-width: 1665px;
//   margin: 0 auto;
//   position: sticky;
//   top: 0;
//   left: 0;
//   height: 5rem;
//   background: black;
//   z-index: 999;
//   transition: .5s ease-in-out;
//   .logoSvg {
//     width: 40px;
//     height: 58px;
//   }
//   .navTitles {
//     width: 350px;
//     display: flex;
//     justify-content: space-around;
//     .titleNav {
//       color: white;
//     }
//   }
// }
